<!doctype html>
<html>
<head>
    <title>AvvAPP</title>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/common.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
        <div class="col-6 appContainer" >
            <div class="infoBar">
                <p><span class="title">Bentornato,</span> <% if (user.local.email) { %>
                    <%=user.local.email%>
                    <%}else{%>
                    <%=user.google.email%>
                    <%}%>
                </p>
                <p id="date"></p>
                <hr class="fancy-line"></hr>
            </div>


            <div id="menu">

                <div class="settings">
                    <button type="button" class="btn btn-default" onclick="location.href='setup'" style="width: 25%;">
                        <h3><span class="fa fa-cogs"></span> Setup</h3>
                    </button>
                    <button type="button" class="btn btn-default" onclick="location.href='document'" style="width:73%; float: right">
                        <h3><span class="fa fa-file-text"></span> Aggiungi pratica</h3>
                    </button>
                </div>
            </div>

            <% if(user.documents.length > 0){

                var completeCategory = "";
                var categories =  user.categories;

                    for(var i=0 ; i<categories.length; i++){
                var category = categories[i];
            %>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="catTitle" style="color:<%=category.color%>"><%=category.name%></h3>
                </div>
                <ul class="table sortable" rel="<%=category._id%>" style="background-color: <%=category.color%>">

                    <% var documents = [];
                            for( var index = 0; index < user.documents.length; index++){
                        var document = user.documents[index];
                            if(document.categoryId == category._id && document.isComplete == false) {
                        var client = "";
                        user.clients.forEach(function (elem, index) {
                            if (elem._id == document.clientId) {
                                client = elem;
                            }
                        });
                    %>
                    <li class="draggable" rel="<%=document._id%>">
                        <h4 class="catTitle"><i class="fa fa-bars"></i><%=client.name%> - <%=document.title%><i rel="<%=document._id%>" class="fa fa-chevron-right"></i></h4>
                    </li>

                    <%            }

                    }
                    %>
                </ul>
            </div>

            <% }
                    if( user.showComplete){
            %>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="catTitle" style="color:green">Completate</h3>
                </div>
                <ul class="table sortable"  id="completeCat">
                    <% var documents = [];
                            for( var index = 0; index < user.documents.length; index++){
                        var document = user.documents[index];
                            if(document.isComplete) {
                        var client = "";
                        user.clients.forEach(function (elem, index) {
                            if (elem._id == document.clientId) {
                                client = elem;
                            }
                        });
                    %>
                    <li class="draggable" rel="<%=document._id%>">
                        <h4 class="catTitle"><i class="fa fa-bars"></i><%=client.name%> - <%=document.title%><i rel="<%=document._id%>" class="fa fa-chevron-right"></i></h4>
                    </li>

                    <%            }

                    }
                    %>
                </ul>
            </div>
            <%
            }
            %>


            <%}else{%>
            <p class="well" style="background-color: #f2dede;">Non ci sono pratiche da visualizzare</p>
            <%}%>

        </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="/app/javascript/home.js"></script>
<script type="text/javascript">
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd='0'+dd
    }

    if(mm<10) {
        mm='0'+mm
    }

    today = mm+'/'+dd+'/'+yyyy;
    $("#date").text(today);
</script>
</body>
</html>